@page
@model RazorPagesMasterDetail.Pages.Nate.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Books</h4>
<hr />
<div class="row border border-dark rounded m-2 p-4">
    <form class="w-100" method="post">
        <input type="hidden" asp-for="Books.ID" />
        <div class="row w-100">
            <div class="col-6 form-group">
                <div class="row">
                    <label asp-for="Books.Cover" class="control-label"></label>
                    <input asp-for="Books.Cover" class="form-control" />
                    <span asp-validation-for="Books.Cover" class="text-danger"></span>
                </div>
                <div class="row p-6">
                    <img class="img-thumbnail rounded" src="@Model.Books.Cover" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Books.Title" class="control-label"></label>
                    <input asp-for="Books.Title" class="form-control" />
                    <span asp-validation-for="Books.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Books.Author" class="control-label"></label>
                    <input asp-for="Books.Author" class="form-control" />
                    <span asp-validation-for="Books.Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Books.Genre" class="control-label"></label>
                    <input asp-for="Books.Genre" class="form-control" />
                    <span asp-validation-for="Books.Genre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Books.Date" class="control-label"></label>
                    <input asp-for="Books.Date" class="form-control" value="@Model.Books.Date.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Books.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Books.Summary" class="control-label"></label>
                    <textarea asp-for="Books.Summary" class="form-control"></textarea>
                    <span asp-validation-for="Books.Summary" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
