@page
@model RazorPagesMasterDetail.Pages.Brandon.EditModel

@{
    ViewData["Title"] = "Edit";
}

<style>
    .btn-style {
        padding: 30px;
        border-radius: 50%;
        float: right;
        background-color: #EA80FC;
        color: white;
    }

        .btn-style:hover {
            color: #343A40;
        }

    .btn-crud {
        padding: 25px;
        border-radius: 50%;
        background-color: #EA80FC;
        color: white;
    }

        .btn-crud:hover {
            color: #343A40;
        }

    body {
        background-color: #606368;
    }
</style>

<h1 class="text-center mb-2" style="color: #EA80FC;">Edit Literature</h1>

<h4>Book:  @Html.DisplayFor(model => model.Books.Title)</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Books.ID" />
            <div class="form-group row">
                <label asp-for="Books.Date" class="control-label col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Books.Date" class="form-control-lg col-8" />
                    <span asp-validation-for="Books.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Books.Title" class="control-label col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Books.Title" class="form-control-lg col-8" />
                    <span asp-validation-for="Books.Title" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Books.Author" class="control-label col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Books.Author" class="form-control-lg col-8" />
                    <span asp-validation-for="Books.Author" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Books.Genre" class="control-label col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Books.Genre" class="form-control-lg col-8" />
                    <span asp-validation-for="Books.Genre" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group">
                    <label asp-for="Books.Cover" class="control-label"></label>
                    <input asp-for="Books.Cover" class="form-control" />
                    <span asp-validation-for="Books.Cover" class="text-danger"></span>
                </div>*@
            <div class="form-group row">
                <label asp-for="Books.Summary" class="control-label col-form-label col-sm-2"></label>
                <div class="col-sm-10">
                    <input asp-for="Books.Summary" class="form-control-lg col-8" />
                    <span asp-validation-for="Books.Summary" class="text-danger"></span>
                </div>
                <input type="submit" value="Save" class="btn btn-crud" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-crud">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
